# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
build/
Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# CocoaPods
Pods/

# IDE
*.swp
*.swo
*~

# Secrets
*.env
*.pem
*.p12
*.mobileprovision
